/* css syntax below */
/* selector {property:value; property:value;} */



/* The below line controls ALL of the elements BEFORE AND AFTER for the entire application */

*, *::before, *::after {
    box-sizing: border-box;
    /* default text sans serif just in case */
    font-family: break, sans-serif;
    font-weight: 600;
}

body{
    padding:0;
    margin: 0;
    background: linear-gradient(to right, #F1AB86,#F7DBA7, #9CAFB7);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    /* the below line is the px equivalent */
    /* min-height: 1361px; */
    min-height: 100vh;
    /* grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px) */
}

/* .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #f7dba7;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    }

.calculator-grid > button:hover {
    background-color: #9CAFB7;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: #c57b57;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10ox;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: #f1ab86;
    font-size: 1.5rem;
}

.output .current-operand {
    color: #f7dba7;
    font-size: 2.5rem;
} */
